/**
 * css variables:start;
 */
:root {
	--default-font: 'Lato', sans-serif;
	--white-color: #ffffff;
	--black-color: #000000;
	--darkred-color: #9e0b0f;
	--gray-color: #5a5a5a;
	--gold-color: #a3620a;
	--section-heading: 60px;
	--home-text: 40px;
	--service-text: 44px;
	--section-title: 37.33px;
	--workinfo-para: 28px;
	--subsection-title: 22px;
	--section-para: 21px;
	--section-para-small: 18px;
	--nav-link: 15px;
	--wrapper-width: 86%;
	--section-padding: 6vh 0;
	--para-lineheight: 30px;
	--bannersection-height: 800px;
}

/**
 * common css:start;
 */
body {
	color: var(--black-color);
	font-family: var(--default-font);
	background: url(../images/home-bg.jpg);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	font-size: var(--section-para-small);
}

h2 {
	text-transform: uppercase;
	font-weight: 600;
}

small {
	font-size: 70%;
}

p {
	margin: 0;
	padding: 0;
}

section {
	position: relative;
}

.wrapper {
	width: var(--wrapper-width);
	padding: var(--section-padding);
	display: block;
	margin: 0 auto;
}

/**
 * Navigation
 */
.navbar-toggler-icon {
	height: auto;
	width: auto;
	vertical-align: inherit;
}

.navbar-light .navbar-toggler {
	border-color: var(--white-color);
}

.navbar-light .navbar-toggler-icon {
	background: none;
	color: var(--white-color);
}

.navbar.navbar-light.bg-light {
	background: transparent !important;
		border-bottom: 1px solid var(--white-color);
}

.navbar.navbar-light.bg-light.active {
	background: rgba(0, 0, 0, 1) !important;
	border-bottom: 0 !important;
}

.navbar-light .navbar-brand, .navbar-nav .nav-item .nav-link {
	color: var(--white-color);
	border-bottom: 2px solid transparent;
	transition: 0.2s all;
	font-size: 15px;
}

.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-brand:hover {
	color: var(--white-color);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: var(--white-color);
	border-bottom: 2px solid var(--white-color);
	transition: 0.2s all;
}

.social-links.navbar-nav .nav-item .nav-link {
	font-size: 15px;
}

/*Navigation*/
footer {
	background: var(--darkred-color);
	color: var(--white-color);
	padding: 5px 0px;
	text-align: center;
}

section .section-head {
	position: absolute;
	top: 50%;
	right: 5%;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	color: var(--white-color);
}

section .section-head h2 {
	font-size: var(--service-text);
	color: var(--black-color);
	font-weight: 400;
}
section .section-head h2+h2 {
	font-size: var(--section-heading);
}

section .section-head p {
	font-size: var(--section-para-small);
	color: var(--black-color);
	font-weight: 400;
	text-transform: uppercase;
}

.text-wrapper {
	background: var(--darkred-color);
	color: var(--white-color);
	padding: 18px 0px;
	text-align: center;
	text-transform: uppercase;
}

.text-wrapper h3 {
	font-size: var(--section-title);
	font-weight: 300;
}

.text-wrapper h3 span {
	display: block;
}

.about-info, .home-info {
	background: url(../images/abstract-bg.jpg) no-repeat #f3f2f0;
	width: 100%;
	height: 100%;
}

.overlay-div {
	position: absolute;
	width: 100%;
	height: var(--bannersection-height);
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
}

.info-wrapper {
	text-align: left;
	font-size: var(--section-para);
	color: #544842;
}

.info-wrapper h6 {
	font-size: var(--subsection-title);
	text-align: center;
	color: #362f2d;
	text-transform: uppercase;
	font-weight: 600;
}

.home-banner {
	background: url(../images/home-section.jpeg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	position: relative;
}

.about-banner {
	background: url(../images/section-background/section-2.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: var(--bannersection-height);
	width: 100%;
	position: relative;
}

.service-banner {
	background: url(../images/section-background/section-3.jpg) #000;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: var(--bannersection-height);
	width: 100%;
	position: relative;
}

.service-info {
	background: url(../images/abstract-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
	padding: var(--section-padding);
}

.work-info {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 50px;
	grid-gap: 15px 0;
}

.work-info .work-box {
	margin: 0 20px 20px 0;
}

.work-info .work-box h4 {
	font-size: var(--service-text);
	color: var(--gold-color);
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}

.work-info .work-box p {
	font-size: var(--workinfo-para);
	color: var(--gold-color);
}

.contact-wrapper {
	width: 100%;
	position: relative;
}

/* Form */
textarea {
	resize: none;
}

.form-group label {
	color: var(--darkred-color);
}

.form-control {
	padding: 8px 15px;
	background-color: var(--white-color);
	border: 1px solid var(--darkred-color);
}

.btn-primary {
	background: var(--darkred-color);
	color: var(--white-color);
	transition: 0.2s;
	border: 1px solid var(--darkred-color);
	padding: 8px 25px;
	text-transform: uppercase;
}

.btn-primary:hover {
	background: var(--white-color);
	color: var(--darkred-color);
	transition: 0.2s;
	border: 1px solid var(--darkred-color);
}

address {
	color: var(--gold-color);
}

/* Service Section CSS:Start*/
.service-wrapper{
	padding: var(--section-padding);
}

.service-name{
	position: relative;
	text-align: center;
	color: var(--gray-color);
	font-size: var(--section-para);
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px 0;
}
.service-details{
	position: relative;
}
.red-border{
	position: absolute;
    background: var(--darkred-color);
    left: 35%;
    right: 35%;
    height: 5px;
}
.service-details .service-title span{
	display: block}
.service-details .service-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.service-details .service-title h3 {
	font-size: var(--service-text);
	color: var(--darkred-color);
	text-transform: uppercase;
}
.service-details .service-para{
	padding: 15px 0;
	font-size: 16px;
	color: var(--gray-color);
	text-align: center;
}

.service-info .service-title h3 span {
	display: block;
}

.service-info .service-title h3 {
	font-size: var(--service-text);
	color: var(--darkred-color);
	text-transform: uppercase;
}
/* Animation */
.text {
  list-style: none;
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

.text.hidden {
	border-bottom: 0px solid #fff;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 1.4em;
  color: var(--black-color);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.carousel-indicators {
	bottom: -15px;
}
.carousel-indicators .active{
	background: var(--darkred-color);
}